<h1>Edit <%= @pet.name %>'s Profile'</h1>
<%= form_for @pet, url:user_pet_path do |f| %>
  <p>
    <%= f.label :name%>
    <%= f.text_field :name %>
  </p>
  <input type="hidden" role="uploadcare-uploader"
       data-multiple="true" name="photo" data-image-shrink="180x180 80%"/>
  <select name="type" id="type">
    <option value="1">Cat</option>
    <option value="2">Dog</option>
    <option value="2">Horse</option>
    <option value="2">Small Mammals</option>
    <option value="2">Reptile/Amphibian</option>
    <option value="2">Birds</option>
    <option value="2">Fish/Aquatic</option>
    <option value="2">Other</option>
  </select>
  <p>
    <%= f.label :breed%>
    <%= f.text_field :breed %>
  </p>
  <p>
    <%= f.label :birthday%>
    <%= f.date_field :birthday %>
  </p>
  <p>
    <%= f.label :gender%>
    <%= radio_button_tag(:gender, "female") %>
    <%= radio_button_tag(:gender, "male") %>
    <%= radio_button_tag(:altered, "altered") %>
    <%= radio_button_tag(:altered, "unaltered") %>
  </p>
  <p>
    <%= f.label :weight%>
    <%= f.text_field :weight %>
  </p>
    <p>
    <%= f.label :color%>
    <%= f.color_field :color %>
  </p>
  <br>
  <p>
    <%= f.label :microchip_company%>
    <%= f.text_field :microchip_company %>
  
    <%= f.label :microchip_company_website%>
    <%= f.url_field :microchip_company_website %>
  
    <%= f.label :microchip_company_phone%>
    <%= f.telephone_field :microchip_company_phone %>
  
    <%= f.label :microchip_registration_number%>
    <%= f.text_field :microchip_registration_number %>
  </p>
  <br>
  <p>
    <%= f.label :county_registration_number%>
    <%= f.text_field :county_registration_number %>
  
    <%= f.label :county_registration_contact%>
    <%= f.text_field :county_registration_contact %>
  
    <%= f.label :county_registration_expiration%>
    <%= f.date_field :county_registration_expiration %>
  </p>
  <br>
  <p>
    <%= f.label :rabies_vaccination_number%>
    <%= f.text_field :rabies_vaccination_number %>

    <%= f.label :rabies_expiration%>
    <%= f.text_field :rabies_expiration %>
  </p>
  <br>
  <p>
    <%= f.label :care_instructions%>
    <%= f.text_field :care_instructions %>
  </p>
  <br>
  <p>
    <%= f.label :special_needs%>
    <%= f.text_field :special_needs %>
  </p> 
  <br> 
  <p>
    <%= f.label :historical_information%>
    <%= f.text_field :historical_information %>
  </p>  
  <%= f.submit "save" %>
<% end %>
