<h1>Edit <%= @pet.name %>'s Profile'</h1>
<div class="center">
  <%= form_for @pet, url:user_pet_path do |f| %>
    <p>
      <%= f.label :name%>
      <%= f.text_field :name %>
    </p>

    <div class="profile_photo" style="background-image: url(<%= @pet.photo %>)"></div>
    
    <p><b> Change Profile Picture For <%= @pet.name %></b></p>
    <input type="hidden" role="uploadcare-uploader" data-multiple="false" name="pet[photo]" value="<%= @pet.photo %>"/>
    <br><br>
    <p>
      <%= f.label :type, required: true%>
      <select name="type" id="type" class="center" "dropdown">
        <option value="1">Cat</option>
        <option value="2">Dog</option>
        <option value="2">Horse</option>
        <option value="2">Small Mammals</option>
        <option value="2">Reptile/Amphibian</option>
        <option value="2">Birds</option>
        <option value="2">Fish/Aquatic</option>
        <option value="2">Other</option>
      </select>
    </p> 
    <p>
      <%= f.label :breed%>
      <%= f.text_field :breed %>
    </p>
    <p>
      <%= f.label :birthday%>
      <%= f.date_field :birthday %>
    </p>
    <p>
      <%= f.radio_button :gender, "female" %>
        <%= f.label :gender, "Female", :value => "female" %>
        <%= f.radio_button :gender, "male" %>
        <%= f.label :gender, "Male", :value => "male" %>
        <br>
        <%= f.radio_button :altered, "altered" %>
        <%= f.label :altered, "Altered", :value => "altered" %>
        <%= f.radio_button :altered, "unaltered" %>
        <%= f.label :altered, "Unaltered", :value => "unaltered" %>
    </p>
    <p>
      <%= f.label :weight%>
      <%= f.text_field :weight %>
    </p>
      <p>
      <%= f.label :color%>
      <%= f.text_field :color %>
    </p>
    <br>
    <p>
      <%= f.label :microchip_company%>
      <%= f.text_field :microchip_company %>
    <br>
      <%= f.label :microchip_company_website%>
      <%= f.url_field :microchip_company_website %>
    <br>
      <%= f.label :microchip_company_phone%>
      <%= f.telephone_field :microchip_company_phone %>
    <br>
      <%= f.label :microchip_registration_number%>
      <%= f.text_field :microchip_registration_number %>
    </p>
    <br>
    <p>
      <%= f.label :county_registration_number%>
      <%= f.text_field :county_registration_number %>
    <br>
      <%= f.label :county_registration_contact%>
      <%= f.text_field :county_registration_contact %>
    <br>
      <%= f.label :county_registration_expiration%>
      <%= f.date_field :county_registration_expiration %>
    </p>
    <br>
    <p>
      <%= f.label :rabies_vaccination_number%>
      <%= f.text_field :rabies_vaccination_number %>
    <br>
      <%= f.label :rabies_expiration%>
      <%= f.text_field :rabies_expiration %>
    </p>
    <br>
    <p>
      <%= f.label :care_instructions%>
      <br>
      <%= f.text_area :care_instructions, rows: 10, cols: 80 %>
    </p>
    <br>
    <p>
      <%= f.label :special_needs%>
      <br>
      <%= f.text_area :special_needs, rows: 10, cols: 80 %>
    </p> 
    <br> 
    <p>
      <%= f.label :historical_information%>
      <br>
      <%= f.text_area :historical_information, rows: 10, cols: 80 %>
    </p>  
  <br>
    <%= f.submit "save" %>
  <% end %>
</div>