<!-- <h1>Pets#new</h1>
<p>Find me in app/views/pets/new.html.erb</p> -->
<h1>Create a New Pet</h1>
<%= form_for @pets, url: "/user/id/pets" do |F| %>
  <p>
    <%= f.label :name%>
    <%= f.text_field :name %>
  </p>
  <select name="type" id="type">
    <option value="1">Cat</option>
    <option value="2">Dog</option>
    <option value="2">Horse</option>
    <option value="2">Small Mammals</option>
    <option value="2">Reptile/Amphibian</option>
    <option value="2">Birds</option>
    <option value="2">Fish/Aquatic</option>
    <option value="2">Other</option>
  </select>
  <p>
    <%= f.label :breed%>
    <%= f.text_field :breed %>
  </p>
  <p>
    <%= f.label :birthday%>
    <%= f.date_field :birthday %>
  </p>
  <p>
    <%= f.label :gender%>
    <%= f.text_field :gender %>
    <%= radio_button_tag(:altered, "altered") %>
    <%= radio_button_tag(:altered, "unaltered") %>
  </p>
  <p>
    <%= f.label :weight%>
    <%= f.text_field :weight %>
  </p>
    <p>
    <%= f.label :color%>
    <%= f.color_field :color %>
  </p>
  <p>
    <%= f.label :mirochip_company%>
    <%= f.text_field :mirochip_company %>
  </p>
    <p>
    <%= f.label :mirochip_company_website%>
    <%= f.url_field :mirochip_company_website %>
  </p>
    <p>
    <%= f.label :mirochip_company_phone%>
    <%= f.telephone_field :mirochip_company_phone %>
  </p>
    <p>
    <%= f.label :mirochip_resgistration_number%>
    <%= f.text_field :mirochip_resgistration_number %>
  </p>
    <p>
    <%= f.label :county_registration_number%>
    <%= f.text_field :county_registration_number %>
  </p>
  <p>
    <%= f.label :county_registration_contact%>
    <%= f.text_field :county_registration_contact %>
  </p>
  <p>
    <%= f.label :county_registration_expiration%>
    <%= f.date_field :county_registration_expiration %>
  </p>
  <p>
    <%= f.label :rabies_vaccination_number%>
    <%= f.text_field :rabies_vaccination_number %>
  </p>
  <p>
    <%= f.label :rabies_expiration%>
    <%= f.date_field :rabies_expiration %>
  </p>
  <p>
    <%= f.label :care_instructions%>
    <%= f.date_field :care_instructions %>
  </p>
  <p>
    <%= f.label :special_needs%>
    <%= f.date_field :special_needs %>
  </p>  
  <p>
    <%= f.label :historical_information%>
    <%= f.date_field :historical_information %>
  </p>  
  <%= f.submit %>
<% end %>