<h1 class = "showProfileName"><%= @pet.name %>'s Profile</h1>
<div class="center">
  <div class="profile_photo center" style="background-image: url(<%= @pet.photo %>)"></div>
  <br><%= @pet.name %>
  <br><%= @pet.type %>
  <br><%= @pet.breed %>  
  <br><%= @pet.gender %> 
  <br><%= @pet.altered %> 
  <br><%= @pet.weight %> 
  <br><%= @pet.color %> 
  <br><%= @pet.microchip_company %>
  <br><%= @pet.microchip_company_website %>
  <br><%= @pet.microchip_company_phone %>
  <br><%= @pet.county_registration_number %>
  <br><%= @pet.county_registration_contact %>
  <br><%= @pet.county_registration_expiration %>
  <br><%= @pet.rabies_vaccination_number %>
  <br><%= @pet.rabies_expiration %>
  <br><%= @pet.care_instructions %>
  <br><%= @pet.special_needs %>
  <br><%= @pet.historical_information %>
<br>

<% @pet.vet_records.split("~")[1].split("/")[0].to_i.times do |i| %>
  <img class="record_picture" src="<%= "#{@pet.vet_records}nth/#{i}/" %>" alt="">
<% end %>
<br>
<%= link_to "Edit", edit_user_pet_path %> <br>
<%= link_to "Delete", user_pet_path, method: "delete", data: { confirm: "Are you sure you want to delete your pet's profile?\nThis can not be undone." } %> <br>