<h1>Edit <%= @user.first_name %>'s Profile</h1>
<div class="center">
  <%= form_for @user do |f| %>
    <div class="profile_photo" style="background-image: url(<%= @user.photo %>)">
      <input type="hidden" role="uploadcare-uploader" data-multiple="false" name="user[photo]" value="<%= @user.photo %>"/>
    </div> 

    <p>
      <%= f.label :first_name%>
      <%= f.text_field :first_name, required: true %>
    </p>
    <p>
      <%= f.label :last_name%>
      <%= f.text_field :last_name, required: true %>
    </p>
    <p>
      <%= f.label :address%>
      <%= f.text_field :address %>
    </p>
    <p>
      <%= f.label :vet_name%>
      <%= f.text_field :vet_name %>
    </p>
    <p>
      <%= f.label :vet_number%>
      <%= f.text_field :vet_number %>
    </p>
    <p>
      <%= f.label :vet_address%>
      <%= f.text_field :vet_address %>
    </p>
    <p>
      <%= f.label :email%>
      <%= f.email_field :email, required: true, autofocus: true %>
    </p>
    <p>
      <%= f.label :password%>
      <%= f.password_field :password %>
    </p>
    <%= f.submit %>
<% end %>