<h1>Edit <%= @user.first_name %>'s Profile</h1>

  <%= form_for @user do |f| %>
      <%= f.label :first_name%>
      <%= f.text_field :first_name, required: true %>

      <%= f.label :last_name%>
      <%= f.text_field :last_name, required: true %>

      <%= f.label :address%>
      <%= f.text_field :address %>

      <%= f.label :vet_name%>
      <%= f.text_field :vet_name %>

      <%= f.label :vet_number%>
      <%= f.text_field :vet_number %>

      <%= f.label :vet_address%>
      <%= f.text_field :vet_address %>

      <%= f.label :email%>
      <%= f.email_field :email, required: true, autofocus: true %>
   
      <%= f.label :password%>
      <%= f.password_field :password %>
    
    <%= f.submit %>
<% end %>