<!-- <h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p> -->

<h1>Create a New User</h1>

<div>   
  <input
    type="hidden"
    role="uploadcare-uploader"
    data-public-key="8f615b911b6092cc8a13"
    data-tabs="file camera url facebook gdrive dropbox instagram evernote flickr skydrive"
    data-image-shrink="200x200 80%"
    data-images-only="true"
    data-preview-step="true"
    data-clearable="true"
    data-multiple="false"
    data-system-dialog="false"
    data-crop=""
  />  
  <p><b> Upload a Profile Picture</b></p>   
</div>



  <%= form_for @user do |f| %>
      <%= f.label :first_name%>
      <%= f.text_field :first_name, required: true %>

      <%= f.label :last_name%>
      <%= f.text_field :last_name, required: true %>

      <%= f.label :address%>
      <%= f.text_field :address %>

      <%= f.label :vet_name%>
      <%= f.text_field :vet_name %>

      <%= f.label :vet_number%>
      <%= f.text_field :vet_number %>

      <%= f.label :vet_address%>
      <%= f.text_field :vet_address %>

      <%= f.label :email%>
      <%= f.email_field :email, required: true, autofocus: true %>
   
      <%= f.label :password%>
      <%= f.password_field :password %>
    
    <%= f.submit %>
  <% end %>
