<!-- <h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p> -->

<h1>Create a New User</h1>
<p>
  <%= form_for @user, url: "/users" do |F| %>
        <p>
      <%= f.label :email%>
      <%= f.email_field :email %>
    </p>
        <p>
      <%= f.label :password%>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :first_name%>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name%>
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :address%>
      <%= f.text_field :address %>
      <%= f.text_field :address %>
      <%= f.text_field :address %>
    </p>
    <p>
      <%= f.label :vet_name%>
      <%= f.text_field :vet_name %>
    </p
    <p>
      <%= f.label :vet_number%>
      <%= f.text_field :vet_number %>
    </p>
    <p>
      <%= f.label :vet_address%>
      <%= f.text_field :vet_address %>
      <%= f.text_field :vet_address %>
      <%= f.text_field :vet_address %>
    </p>
    <%= f.submit %>
  <% end %>

</p>